body {
  font-family: Arial, sans-serif;
}

/* add this */
.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border: 3px solid red;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}